<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #formLogin="ngForm">
  <div class="input--group">
    <label for="nombre">Nombre:</label>
    <input type="text" required name="nombre" id="nombre" [(ngModel)]="users.name">
    <p>Mensaje de error</p>
  </div>
  <div class="input--group">
    <label for="correo">Correo</label>
    <input type="email" name="correo" required id="correo" [(ngModel)]="users.email">
    <p>Mensaje de error</p>

  </div>
  <div class="input--group">
    <label for="contrasena">Contraseña</label>
    <input type="password" name="contrasena" required id="contrasena" [(ngModel)]="users.password">
    <p>Mensaje de error</p>
  </div>
  <button [disabled]="formLogin.invalid" type="submit" >Registrar</button>
</form>

<h1>ngClass and ngStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)] = "person.name">
<hr class="lineError" [ngClass]="{
  'valid': nameInput4.valid,
  'invalid' : nameInput4.invalid,
}">

<div class="styles">
  <div>
    <input type="number" required [(ngModel)]="box.width">
    <input type="number" required [(ngModel)]="box.height">
    <input type="color" required [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>
<hr>
<h1>Class and Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="messageError" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre </label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal' ">Texto Texto Texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar">
  </div>
</div>
<hr>
<h1>[ngSwich]</h1>
<input type="text" [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'joahan'">
    soy joahan
  </p>
  <p *ngSwitchCase="'leo'">
    soy leo
  </p>
  <p *ngSwitchCase="'santi'">
    soy santi
  </p>
  <p *ngSwitchDefault=>No hay nadie</p>
</div>

<hr>
<h1>*ngfor in Objes</h1>
<section>
  <div class="products--grid">
    <div *ngFor="let product of products">
      <img [src]="product.image">
      <h3>{{product.price}}</h3>
      <p>{{product.name}}</p>
      <p>{{product.category}}</p>
      <p *ngIf="product.category == '' ">No tiene categoria</p>
    </div>
  </div>
</section>
<hr>

<h1>*ngfor</h1>
<input type="text" required [(ngModel)]="newFruit">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="fruits.length === 0">No hay nadie</li>
  <li *ngFor="let frut of fruits; index as i">
    {{ frut }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>

<h1>*ngif</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name == 'Joahan'">Soy Joahan</p>
<p *ngIf="person.name == 'Leo' && person.age === 25, else elseBlock">Soy Leo</p>
<ng-template #elseBlock>
  <p>Bloque else</p>
</ng-template>
<hr>

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Edad: {{ person.age }}</p>
<input type="number" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>
<hr>

<h1>Eventos</h1>
<button [disabled]="btnDisabled" >enviar</button>
<button (click)="toggleBtn()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increment()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic consectetur dolorem quia nesciunt sint, fuga, veniam libero maiores animi illum cupiditate cumque repellat eligendi commodi sunt nihil aut vitae molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi architecto, repellat minima, odio incidunt sunt quae delectus, molestiae quibusdam corrupti suscipit dolorem nihil necessitatibus voluptate quod. Atque nihil ut odit.</p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled" >enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="img" alt="">
<hr>

<h1>hola mundo</h1>
<h2>{{"hola mundo ".repeat(5)}}</h2>
<p>3 + 3 = {{3 + 3}}</p>
<p>hola me llamo {{ name }} y tengo {{age}} de edad</p>

<img width="200px" src={{img}} alt="imagen">
